@using Chess.Site.Domain
@using Chess.Site.Infrastructure

@model RatingViewModel

@{
    ViewBag.Title = "Рейтинг";
    Layout = "_Layout";
}

<h2>Рейтинг игроков</h2>
<div class="row ">
    <div class="col-md-3">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Игрок</th>
                <th>Рейтинг</th>
                @if (Model.Rating.Any(r => string.IsNullOrEmpty(r.Insignias) == false))
                {
                    <th>Ордена</th>
                }
            </tr>
            </thead>
            @foreach (var rating in Model.Rating)
            {
                <tr>
                    <td>@rating.Name</td>
                    <td>@rating.Points.ToString("0.##")</td>
                    @if (Model.Rating.Any(r => string.IsNullOrEmpty(r.Insignias) == false))
                    {
                        <td>
                            @if (string.IsNullOrEmpty(rating.Insignias) == false)
                            {
                                foreach (var item in rating.Insignias.Split(';', StringSplitOptions.RemoveEmptyEntries))
                                {
                                    <label title="@InsigniasService.Insignias[item].Description">@item</label>
                                }
                            }
                        </td>
                    }
                </tr>
            }

        </table>
    </div>
</div>

<form method="post">
    <div class="row">
        <div class="col-md-3">
            <select asp-for="WhitePlayer" asp-items="Model.Players" name="WhitePlayerId" class="form-control col-md-3"></select>
        </div>
        <div class="col-md-3">
            <select asp-for="WhitePlayer" asp-items="Model.Players" name="BlackPlayerId" class="form-control col-md-3"></select>
        </div>
        <div class="col-md-3">
            <select asp-for="Winner" asp-items="Html.GetEnumSelectList<Winner>()" id="Winner " class="form-control col-md-3"></select>
        </div>
        <input type="submit" value="Добавить" class="btn btn-success" />
    </div>
</form>

<h2>Последние игры</h2>
<div class="row ">
    <div class="col-md-7">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Белые</th>
                    <th>Чёрные</th>
                    <th>Результат</th>
                </tr>
            </thead>
            @foreach (var rating in Model.LatestResults)
            {
                <tr>
                    <td>@rating.PlayedAt.AddHours(5).ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@rating.WhitePlayer @rating.WhiteDeltaPoints.ToString("+0.##;-0.##;0")</td>
                    <td>@rating.BlackPlayer @rating.BlackDeltaPoints.ToString("+0.##;-0.##;0")</td>
                    <td>@rating.Winner.EnumDisplayNameFor()</td>
                </tr>
            }

        </table>
    </div>
</div>
